<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
  "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Firecrawl</vendor>
  <vendor_url>https://github.com/firecrawl/firecrawl</vendor_url>
  <action id="org.firecrawl.browser-host.acceptance-restart">
    <description>Restart a prepared Firecrawl sandbox broker</description>
    <message>Authentication is required to restart the Firecrawl sandbox broker</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/libexec/firecrawl-acceptance-restart-broker</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">false</annotate>
  </action>
</policyconfig>
